{% macro render(
  type = 'button',
  text,
  variant = 'default',
  class = ''
) %}
	{% set variants = {
    'default': 'bg-yellow-500 hover:opacity-80 text-gray-100',
    'outlined': 'bg-transparent border-2 border-yellow-500 text-yellow-500 hover:bg-yellow-500/10',
    'ghost': 'outline-none bg-transparent text-gray-600 hover:bg-gray-100',
    'danger': 'bg-rose-500 hover:bg-rose-600 text-gray-100',
    'base': 'w-full cursor-pointer py-2 px-4 rounded-md shadow-sm font-medium transition-all'
  } %}

	<button type="{{ type }}" class="{{ variants.base }} {{ variants[variant] }} {{ class }}">
		{{ text }}
	</button>
{% endmacro %}
