{% macro render(
  name,
  type = 'text',
  placeholder = null,
  required = true,
  icon = null,
  autocomplete = null,
  class = ''
) %}
	<div class="mt-1 relative rounded-md shadow-sm">
		{% if icon %}
			<div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
				<i class="{{ icon }} text-gray-400"></i>
			</div>
		{% endif %}

		<input
      {% if required %}required{% endif %}
      placeholder="{{ placeholder }}"
      id="{{ name }}"
      name="{{ name }}"
      type="{{ type }}"
      {% if autocomplete %} autocomplete="{{ autocomplete }}" {% endif %}
      class="py-2 {% if icon %}pl-10{% endif %} block w-full border border-gray-300 rounded-md focus:ring-gray-500 focus:border-gray-500 {{ class }}"
    >
	</div>
{% endmacro %}
