{% extends "Layouts/main.layout.twig" %}

{% import "Macros/label.twig" as Label %}
{% import "Macros/input.twig" as Input %}
{% import "Macros/button.twig" as Button %}
{% import "Macros/select.twig" as Select %}

{% block title %}Cadastro | Job4You{% endblock %}

{% block main %}
	<main class="flex-grow py-12">
		<div class="max-w-2xl mx-auto px-4 sm:px-6 lg:px-8">
			<div class="bg-white shadow rounded-lg">
				<div class="p-8 sm:p-10">
					{% include "Partials/usuarios/_cadastro-header.twig" %}

					<form action="/usuarios/cadastro" method="POST" class="space-y-6">
						<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
							<div class="col-span-2">
								{{ Label.render('nome', 'Nome completo') }}
								{{ Input.render('nome', 'text', 'Digite seu nome completo', true, 'bi bi-person', null, '', getInputError('nome')) }}
							</div>

							<div>
								{{ Label.render('cpf', 'CPF') }}
								{{ Input.render('cpf', 'text', '000.000.000-00', true, 'bi bi-card-text', null, '', getInputError('cpf')) }}
							</div>

							<div>
								{{ Label.render('dataNascimento', 'Data de Nascimento') }}
								{{ Input.render('dataNascimento', 'date', null, true, 'bi bi-calendar', null, '', getInputError('data_nascimento')) }}
							</div>

							<div>
								{{ Label.render('email', 'Email') }}
								{{ Input.render('email', 'email', 'seu@email.com', true, 'bi bi-envelope', null, '', getInputError('email')) }}
							</div>

							<div>
								{{ Label.render('celular', 'Número de celular') }}
								{{ Input.render('celular', 'text', '(00) 00000-0000', true, 'bi bi-telephone', null, '', getInputError('telefone')) }}
							</div>

							<div>
								{{ Label.render('senha', 'Senha') }}
								<div class="relative">
									{{ Input.render('senha', 'password', 'Crie uma senha', true, 'bi bi-lock', null, '', getInputError('senha')) }}
									<button type="button" id="togglePassword" class="absolute inset-y-0 right-0 pr-3 flex items-center">
										<i class="bi bi-eye text-gray-400 hover:text-gray-500"></i>
									</button>
								</div>
							</div>

							<div>
								{{ Label.render('cep', 'CEP') }}
								{{ Input.render('cep', 'text', '00000-000', true, 'bi bi-mailbox', null, '', getInputError('cep')) }}
							</div>

							<div>
								{{ Label.render('estado', 'Estado') }}
								{{ Select.render('estado', {
								'AC': 'Acre', 'AL': 'Alagoas', 'AP': 'Amapá', 'AM': 'Amazonas',
								'BA': 'Bahia', 'CE': 'Ceará', 'DF': 'Distrito Federal',
								'ES': 'Espírito Santo', 'GO': 'Goiás', 'MA': 'Maranhão',
								'MT': 'Mato Grosso', 'MS': 'Mato Grosso do Sul', 'MG': 'Minas Gerais',
								'PA': 'Pará', 'PB': 'Paraíba', 'PR': 'Paraná', 'PE': 'Pernambuco',
								'PI': 'Piauí', 'RJ': 'Rio de Janeiro', 'RN': 'Rio Grande do Norte',
								'RS': 'Rio Grande do Sul', 'RO': 'Rondônia', 'RR': 'Roraima',
								'SC': 'Santa Catarina', 'SP': 'São Paulo', 'SE': 'Sergipe',
								'TO': 'Tocantins'
								}, 'Selecione', true, 'bi bi-map') }}
							</div>

							<div>
								{{ Label.render('cidade', 'Cidade') }}
								{{ Input.render('cidade', 'text', 'Sua cidade', true, 'bi bi-building', null, '', getInputError('cidade')) }}
							</div>

							<div>
								{{ Label.render('bairro', 'Bairro') }}
								{{ Input.render('bairro', 'text', 'Seu bairro', true, 'bi bi-pin-map', null, '', getInputError('bairro')) }}
							</div>

							<div>
								{{ Label.render('rua', 'Rua') }}
								{{ Input.render('rua', 'text', 'Sua rua', true, 'bi bi-signpost', null, '', getInputError('rua')) }}
							</div>
						</div>

						{{ Button.render('submit', 'Cadastrar') }}
					</form>
				</div>
			</div>
		</div>
	</main>
{% endblock %}