{% import "Macros/input.twig" as input %}
{% import "Macros/label.twig" as label %}
{% import "Macros/select.twig" as select %}

<div class="{% if usuario.grupo != 'PRESTADOR' %}col-span-2{% endif %}">
  {{ label.render('nome', 'Nome Completo') }}
  {{ input.render('nome', 'text', null, true, 'bi bi-person', null, '', null, usuario.nome) }}
</div>

<div>
  {{ label.render('documento', usuario.grupo == 'PRESTADOR' ? 'CPF/CNPJ' : 'CPF') }}
  {{ input.render('documento', 'text', null, true, 'bi bi-card-text', null, '', null, usuario.grupo == 'PRESTADOR' ? usuario.documento : usuario.cpf, null, true) }}
</div>

{% if usuario.grupo != 'PRESTADOR' %}
  <div>
    {{ label.render('data_nascimento', 'Data de Nascimento') }}
    {{ input.render('data_nascimento', 'date', null, true, 'bi bi-calendar', null, '', null, usuario.dataNascimento) }}
  </div>
{% endif %}

<div>
  {{ label.render('email', 'Email') }}
  {{ input.render('email', 'email', null, true, 'bi bi-envelope', null, '', null, usuario.email) }}
</div>

<div>
  {{ label.render('telefone', 'Telefone') }}
  {{ input.render('telefone', 'tel', null, true, 'bi bi-telephone', null, '', null, usuario.celular) }}
</div>

{% if usuario.grupo != 'prestador' %}
  <div>
    {{ label.render('cep', 'CEP') }}
    {{ input.render('cep', 'text', null, true, 'bi bi-mailbox', null, '', null, usuario.endereco.cep) }}
  </div>

  <div>
    {{ label.render('estado', 'Estado') }}
    {{ select.render('estado', {
      'AC': 'Acre', 'AL': 'Alagoas', 'AP': 'Amapá', 'AM': 'Amazonas',
      'BA': 'Bahia', 'CE': 'Ceará', 'DF': 'Distrito Federal',
      'ES': 'Espírito Santo', 'GO': 'Goiás', 'MA': 'Maranhão',
      'MT': 'Mato Grosso', 'MS': 'Mato Grosso do Sul', 'MG': 'Minas Gerais',
      'PA': 'Pará', 'PB': 'Paraíba', 'PR': 'Paraná', 'PE': 'Pernambuco',
      'PI': 'Piauí', 'RJ': 'Rio de Janeiro', 'RN': 'Rio Grande do Norte',
      'RS': 'Rio Grande do Sul', 'RO': 'Rondônia', 'RR': 'Roraima',
      'SC': 'Santa Catarina', 'SP': 'São Paulo', 'SE': 'Sergipe',
      'TO': 'Tocantins'
    }, 'Selecione', true, 'bi bi-map', usuario.endereco.estado) }}
  </div>

  <div>
    {{ label.render('cidade', 'Cidade') }}
    {{ input.render('cidade', 'text', null, true, 'bi bi-building', null, '', null, usuario.endereco.cidade) }}
  </div>

  <div>
    {{ label.render('bairro', 'Bairro') }}
    {{ input.render('bairro', 'text', null, true, 'bi bi-pin-map', null, '', null, usuario.endereco.bairro) }}
  </div>

  <div>
    {{ label.render('rua', 'Rua') }}
    {{ input.render('rua', 'text', null, true, 'bi bi-signpost', null, '', null, usuario.endereco.rua) }}
  </div>
{% endif %} 